* {
  box-sizing: border-box;
}
body {
  width: 1440px;
  display: block;
  margin: 0 auto;
  position: relative;
}

* {
  color: #1d1d1d;
}
section {
  width: 1440px;
  margin: 0 auto;
  font-family: "HalvarBreit";
}
h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 900;
}
h1 {
  font-size: 180px;
  font-weight: 900;
}

/* Экран 1 */
.section-1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  height: 775px;
  background: url(../images/block1.svg) no-repeat center center;
  background-size: cover;
  padding-top: 455px;
  overflow: hidden;
}
/* Заголовки Экран 1 */
.section-1 h1 {
  line-height: 88%;
  text-transform: none;
  letter-spacing: -1.1%;
  margin-left: 20px;
}

/* "Halvar" немного выше "Breitschrift" */
.section-1 .chess h1 {
  margin-bottom: -7px;
}

/* Правый нижний блок */
.section-1 .one {
  font-weight: 400;
  position: absolute;
  text-align: left;
  transform: translateY(192px);
  right: 37px;
}

/* Название коллекции */
.section-1 .one p:first-child {
  font-size: 20px;
  margin-bottom: 20px;
}

/* Авторы */
.section-1 .one p:last-child {
  font-size: 20px;
}

/* Экран 2 */

.section-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  height: 730px;
  background: url(../images/block2.svg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  padding: 140px 60px;
  box-sizing: border-box;
}
.section-text1 {
  position: relative;
  width: 400px;
  height: 400px;
  font-size: 40px;
}

.section-text1 p {
  position: absolute;
  margin: 0;
}

/* Б */
#section-text11 {
  top: 0;
  left: 0;
  font-weight: 700;
}

/* Д */
#section-text12 {
  top: 0;
  left: 80px;
  font-weight: 300;
}

/* Ж (верхняя) */
#section-text13 {
  top: 50px;
  left: 40px;
  font-weight: 700;
}

/* Г */
#section-text14 {
  top: 90px;
  left: 0;
  font-weight: 900;
}

/* Е (середина) */
#section-text15 {
  top: 90px;
  left: 100px;
  font-weight: 900;
}

/* Ж (нижняя) */
#section-text16 {
  top: 160px;
  left: 90px;
  font-weight: 700;
}

/* Е (нижняя левая) */
#section-text17 {
  top: 160px;
  left: 10px;
  font-weight: 300;
}

.section-text2 {
  position: absolute;
  width: 420px;
  height: 420px;
  font-size: 40px;
  margin-top: 300px;
  margin-left: 200px;
}

.section-text2 p {
  position: absolute;
  margin: 0;
}

/* В */
#section-text21 {
  top: -60px;
  left: 73px;
  font-weight: 700;
}

/* А */
#section-text22 {
  top: -10px;
  left: 0;
  font-weight: 600;
}

/* Г */
#section-text23 {
  top: -30px;
  left: 120px;
  font-weight: 900;
}

/* В */
#section-text24 {
  top: 50px;
  left: -10px;
  font-weight: 400;
}

/* А */
#section-text25 {
  top: 90px;
  left: 20px;
  font-weight: 700;
}

/* Б */
#section-text26 {
  top: 90px;
  left: 120px;
  font-weight: 400;
}
/* экран 2.2 */
.font-info {
  position: relative;
  width: 720px;
  height: 300px;
  font-size: 24px;
}

/* ==== БЛОК 1 ==== */
#num1 {
  position: absolute;
  top: 35px;
  left: 127px;
  font-weight: 700;
}

#num1_1 {
  position: absolute;
  top: 82px;
  left: 127px;
  font-weight: 700;
  color: #ffffff;
}

#text1 {
  position: absolute;
  top: 30px;
  left: 185px;
  width: 460px;
}

/* ==== БЛОК 2 ==== */
#num2 {
  position: absolute;
  top: 186px;
  left: 125px;
  font-weight: 700;
}

#num2_1 {
  position: absolute;
  top: 233px;
  left: 125px;
  font-weight: 700;
  color: #ffffff;
}

#text2 {
  position: absolute;
  top: 170px;
  left: 185px;
  width: 460px;
}

/* ==== БЛОК 3 ==== */
#num3 {
  position: absolute;
  top: 334px;
  left: 123px;
  font-weight: 700;
}

#num3_1 {
  position: absolute;
  top: 381px;
  left: 123px;
  font-weight: 700;
  color: #ffffff;
}

#text3 {
  position: absolute;
  top: 320px;
  left: 185px;
  width: 460px;
}

.section-text3 {
  position: relative;
  width: 400px;
  height: 400px;
  font-size: 50px;
}
.section-text3 p {
  position: absolute;
  margin: 0;
}
#section-text31 {
  top: 0px;
  right: 100px;
  font-weight: 700;
}
#section-text32 {
  top: 0px;
  right: 40px;
  font-weight: 700;
}
#section-text33 {
  top: 0px;
  right: -30px;
  font-weight: 700;
}
#section-text34 {
  top: 60px;
  right: 90px;
  font-weight: 700;
}
#section-text35 {
  top: 30px;
  right: 40px;
  font-weight: 700;
}
#section-text36 {
  top: 60px;
  right: -15px;
  font-weight: 700;
}
#section-text37 {
  top: 120px;
  right: 100px;
  font-weight: 700;
}
#section-text38 {
  top: 90px;
  right: 45px;
  font-weight: 700;
}
#section-text39 {
  top: 100px;
  right: -5px;
  font-weight: 700;
}
#section-text311 {
  top: 170px;
  right: 90px;
  font-weight: 700;
}
#section-text312 {
  top: 150px;
  right: 30px;
  font-weight: 700;
}
#section-text313 {
  top: 180px;
  right: -20px;
  font-weight: 700;
}
/* экран2 в экране 2.3 */
.section-text4 {
  font-size: 50px;
  position: absolute;
  width: 420px;
  height: 420px;
  margin-top: 300px;
  margin-right: 200px;
}
.section-text4 p {
  position: absolute;
  margin: 0;
}
#section-text41 {
  top: -90px;
  right: -580px;
  font-weight: 700;
}
#section-text42 {
  top: -80px;
  right: -650px;
  font-weight: 700;
}
#section-text43 {
  top: -55px;
  right: -715px;
  font-weight: 700;
}
#section-text44 {
  top: -30px;
  right: -610px;
  font-weight: 700;
}
#section-text45 {
  top: 0px;
  right: -690px;
  font-weight: 700;
}
#section-text46 {
  top: 20px;
  right: -570px;
  font-weight: 700;
}
#section-text47 {
  top: 25px;
  right: -635px;
  font-weight: 700;
}
#section-text48 {
  top: 45px;
  right: -680px;
  font-weight: 700;
}
#section-text49 {
  top: 55px;
  right: -610px;
  font-weight: 700;
}
#section-text411 {
  top: 100px;
  right: -610px;
  font-weight: 700;
}
#section-text412 {
  top: 90px;
  right: -650px;
  font-weight: 700;
}
#section-text413 {
  top: 100px;
  right: -700px;
  font-weight: 700;
}
/* экран 3 */

/* Экран 9 */
.section9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.section9-container {
  display: flex;
}
.section9-container p {
  font-size: 24px;
}
.section9-container .ligature {
  font-weight: bold;
  font-size: 300px;
  line-height: 88%;
}
.section9-item-2 {
  padding: 20px 0 40px 140px;
}
